*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #9381ff;    
}
.container{
    background-color: #b8b8ff;
    padding: 2rem;
    border-radius: 2rem;
    min-height: 45vh;
    width: 50vh;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    

}
h1{
    font-size: 2.7rem;
}
.amount{
    font-size: 1.7rem;
}
form{
    margin: 2rem 0 1rem 0;
}

form input,select,button{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 1rem;
}

form input{
    border: 1px solid lightgray;
    font-size: 1.5rem;
    height: 3rem;
    padding-left: 0.5rem;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.5rem;
}
.dropdown i{
    font-size: 1.5rem;
    margin-top: 1rem;
}


.select-container img{
    max-width: 3rem;
}

.select-container{
    display: flex;
    justify-content: center;
    width: 7rem;
   
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    
}

.select-container select{
    font-size: 1.2rem;
    width: auto;    
}

.msg{
    margin: 2rem 0 2rem 0;
    font-size: 1.7rem;
   
}
form button{
    height: 3rem;
    background-color: #6f2dbd;
    color: whitesmoke;
    font-size: 1.3rem;
    border-radius: 1rem;
    cursor: pointer;
}
.from p{
    font-size: 1.2rem;
}
.to p{
    font-size: 1.2rem;
}
@media screen and (max-width:475px){
    .container{
        width: 45vh;
    }
} 
@media screen and (max-width:435px){
    .container{
        width: 40vh;
    }
} 
@media screen and (max-width:395px){
    .container{
        width: 35vh;
    }
} 
input:focus{
    border: 3px solid  #9381ff;
    
}